@import "tailwindcss";
@import "./tokens.css";
@import "./theme.css";

@source "../../../../apps/*/src/**/*.{ts,svelte}";
@source "../components/**/*.{ts,svelte}";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    border-color: var(--color-border);
  }

  body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }

  button:not(:disabled),
  select:not(:disabled),
  label[for],
  a[href],
  input:not(:disabled):where(
      [type="button"],
      [type="submit"],
      [type="reset"],
      [type="checkbox"],
      [type="radio"],
      [type="file"],
      [type="range"],
      [type="color"]
    ) {
    cursor: pointer;
  }

  input:not(:disabled):not(
      :where(
        [type="button"],
        [type="submit"],
        [type="reset"],
        [type="checkbox"],
        [type="radio"],
        [type="file"],
        [type="range"],
        [type="color"]
      )
    ),
  textarea:not(:disabled),
  [contenteditable="true"] {
    cursor: text;
  }

  button:disabled,
  input:disabled,
  textarea:disabled,
  select:disabled {
    cursor: not-allowed;
  }
}
